[submodule "firmware/lib/cmsis_core"]
	path = firmware/lib/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis-core
[submodule "firmware/lib/stm32h7xx_cmsis"]
	path = firmware/lib/stm32h7xx_cmsis
	url = https://github.com/STMicroelectronics/cmsis_device_h7
